h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcoral;
}

body {
    width: 900px;
    height: 900px;
    background-color:lightblue;
    animation-name: example;
    animation-duration: 45s;
} 

a {
    color: rgb(131, 182, 202);
} 

/* sales.html block */
@keyframes example {
    0%   {background-color: beige;}
    25%  {background-color: rgb(194, 236, 190);}
    50%  {background-color: rgb(0, 140, 255);}
    100% {background-color: rgb(98, 132, 138);}
}

#photo:hover { /* Salmon pic animation */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#cookies-table {
    border: rgb(36, 28, 18);
    border-collapse: collapse;
}

tr:nth-child(odd) {background: #CCC}
tr:nth-child(even) {background: #FFF}

legend {
    font-weight: bold;
    background-color: black;
    color: beige;
}

fieldset {
    background-color: rgb(132, 186, 211);
}
input, textarea {
    background-color : #d1d1d1;
  }

label {
    display: inline-block;
    width: 800px;
    text-align: left;
}

#home-link { /* Back to main page link */
    background-color: black;
    color: yellow;
}

#home:link { /* Back to main page link */
    color: red;
}

#data {
    margin-left: 300px; 
}
/* End of sales.html block */

/* index.html block */
#extra { 
    position: relative;
    top: -30px;
    left: 90%;

}

p {
    font-weight:400;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px;
    padding-left: 100px;
    background-image: url("chinook.png");
    background-color: #cccccc;
    height: 800px;
    width: 1500px;
    margin-top: 500px;
} 

.info li {
    display: inline;
    border: 2px solid rgb(57, 68, 57);
    padding: 5px;
    margin: 1px;
    background-color: black;
}

/* End of index.html block */

/* shop.html block */
div.pics {
    font-size: 30px;
    vertical-align: left;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.merchandise {
    margin-left: 250px;
    display: block;
    float: left;
}
/* End of shop.html block */