h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcoral;
}

@keyframes example {
    0%   {background-color: beige;}
    25%  {background-color: rgb(194, 236, 190);}
    50%  {background-color: rgb(0, 140, 255);}
    100% {background-color: rgb(98, 132, 138);}
}

body {
    width: 900px;
    height: 900px;
    background-color:lightblue;
    animation-name: example;
    animation-duration: 45s;
} 

#home {
    color: yellow;
}

#home:link {
    color: red;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

p {
    font-weight:400;
    color: black;
    font-size: 25px;
    padding-left: 100px;
} 

#cookies-table {
    border: rgb(36, 28, 18);
    border-collapse: collapse;
}

tr:nth-child(odd) {background: #CCC}
tr:nth-child(even) {background: #FFF}

label {
    display: inline-block;
    width: 800px;
    text-align: left;
}

.info li {
    display: inline;
    border: 2px solid rgb(57, 68, 57);
    padding: 5px;
    margin: 1px;
    background-color: black;
}

#event {
    position:absolute;
   top:10px;
   right:10px;
   background-color: rgb(39, 35, 35);
}

#store {
    position:absolute;
   top:30px;
   right:20px;
   background-color: rgb(39, 35, 35);
}

#sales-data {
    position:absolute;
   top:50px;
   right:30px;
   background-color: rgb(39, 35, 35);
}

a {
    color: rgb(131, 182, 202);
} 

legend {
    font-weight: bold;
    background-color: black;
    color: beige;
}

fieldset {
    background-color: rgb(132, 186, 211);
}
input, textarea {
    background-color : #d1d1d1;
  }

#hours {
    font-weight: bold;
    font-size: 12px;
}

#contact {
        background-image: url("chinook.png");
        background-color: #cccccc;
}

div.pics {
    vertical-align: left;
    display: inline-block;
    text-align: center;
    width: 120px;
}


.shop {
    margin-left: 250px;
    display: block;
    float: left;
}